// Identity
APP_DISPLAY_NAME = Make It Native 9
BUNDLE_IDENTIFIER = com.mendix.developerapp.native.mx9

// Launch file
LAUNCH_STORYBOARD_NAME = LaunchScreen

CALENDARS_USAGE_DESCRIPTION = 'This app requires access to the calendar'
BLUETOOTH_USAGE_DESCRIPTION = 'This app may need access to your Bluetooth connection'
