<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.mendix.developerapp">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:node="remove"
                     tools:ignore="QueryAllPackagesPermission"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Required for scheduling local notifications -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <!-- Ignore deprecation: We still need this for the RN I think -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <!-- Ignore deprecation -->

    <uses-feature
            android:name="android.hardware.bluetooth_le"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.camera"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.telephony"
            android:required="false"/>

    <!-- Downgrade qr code library to minSdk 14 -->
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="tel"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="google.navigation"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:mimeType="*/*"/>
        </intent>
    </queries>

    <application
            android:name=".MainApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:largeHeap="true"
            android:requestLegacyExternalStorage="true"
            android:theme="@style/Theme.MakeItNative"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning"
            tools:targetApi="28"
            android:supportsRtl="true">
        <activity
                android:name=".MainActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
                android:launchMode="singleTask"
                android:screenOrientation="user"
                android:windowSoftInputMode="stateHidden"
                android:exported="true">
            <intent-filter>
                <action android:name="com.mendix.mendixnative.action.START"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.mendix.mendixnative"/>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter android:label="@string/makeitnative_deep_link_label">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="makeitnative"/>
            </intent-filter>
        </activity>

        <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationActions"/>
        <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationPublisher"/>
        <receiver
                android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationBootEventReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <service
                android:name=".firebase.FirebaseMessagingService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data android:name="com.google.android.geo.API_KEY"
                   android:value="{{GEO_API_KEY}}"/>
        <meta-data
                android:name="com.google.ar.core"
                android:value="optional"/>
    </application>
</manifest>
