<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>542084943474-o1h4bjanh83816hkvdgir7b19as281mi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAiZD7-r5zTg00z1AYbDYkjxOU3XpR24Dw</string>
	<key>GCM_SENDER_ID</key>
	<string>542084943474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mendix.developerapp.native.mx10</string>
	<key>PROJECT_ID</key>
	<string>mendix-developerapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mendix-developerapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542084943474:ios:383e72aeabdd8aa8da7ceb</string>
	<key>DATABASE_URL</key>
	<string>https://mendix-developerapp.firebaseio.com</string>
</dict>
</plist>